body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

form{
    margin-bottom: 20px;
}

input{
    padding: 8px;
    margin-right: 10px;
}

button{
    padding: 8px 12px;
    cursor: pointer;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    padding: 12px 20px;
    margin-bottom: 20px;
    top: 0;
}

.logo{
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-links a{
    color: #fff;
    text-decoration: none;
}

.navbar-links a:hover{
    text-decoration: underline;
}

.navbar-links li a:active{
    font-weight: bold;
}